# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'dnsmasq/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml. We support Redhat (Centos) and Debian (Ubuntu)
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'RedHat': {}
  }
  , grain="os_family"
  , merge=salt['pillar.get']('dnsmasq:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.dnsmasq.update(os_family_map) %}

{## Merge in dnsmasq:lookup pillar ##}
{% set dnsmasq = salt['pillar.get'](
        'dnsmasq',
        default=default_settings.dnsmasq,
        merge=True
    )
%}
